<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="keywords" content="python,linux,软件,编程,开发,运维,云计算,网络,互联网" />
    <meta name="description" content="学习、阅读、发现和思考：8小时外的健康生活！您的网络博客文摘，原创技术社会人文书评">
    <meta name="author" content="tianwei@vip.qq.com">
    <link rel="icon" type="image/x-icon" href="http://www.guqintai.net/favicon.ico">
    <title>{% if title %}{{title}}-古琴台官方网站{% else %}古琴台-学习、阅读、发现和思考{% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="//v3.bootcss.com/assets/js/ie10-viewport-bug-workaround.js" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="//v3.bootcss.com/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="//v3.bootcss.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries --> <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

   <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item {% if index_page  %} active{% endif %} " href="/">首页</a>
          <a class="blog-nav-item {% if category == 1  %} active {% endif %}" href="/blog/list/?category=1">技术</a>
          <a class="blog-nav-item {% if category == 2  %} active{% endif %} " href="/blog/list/?category=2">人物</a>
          <a class="blog-nav-item {% if category == 3  %} active{% endif %} " href="/blog/list/?category=3">随笔</a>
          <a class="blog-nav-item {% if about_page  %} active{% endif %} " href="/about">关于</a>
        </nav>
      </div>
    </div>

 
