{% include "head.html" %}
    <div class="container" style="margin-top:30px">

      <div class="row">
      
        <div class="col-sm-8">
                <form method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label for="title">标题</label>
                    <input type="text" class="form-control" id="title" name="title" required="required">
                </div>

                <div class="form-group">
                    <label for="head_image">主图地址</label>
                    <input type="text" class="form-control" id="head_image" name="head_image" placeholder="图床地址">
                </div>

                <div class="form-group">
                    <textarea class="form-control" rows="15" name="content" id="my-edit-area"></textarea>
                </div>


                <div class="form-group">
                    <label>类目</label>
                    <br>
                    <label class="radio-inline">
                        <input type="radio" name="category" id="inlineRadio1" value="1" checked> 技术
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="category" id="inlineRadio2" value="2"> 人物
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="category" id="inlineRadio3" value="3"> 随笔
                    </label>

                </div>
                
                <div class="form-group text-center">
                    <button type="button" class="btn btn-success">保存</button>
                    <button type="submit" class="btn btn-primary">发布</button>
                </div>
            </form>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
		<label>File Input: <input type="file" name="file" id="demo1" /></label>
		<div id="uploads">
		</div>
	    </form>

        </div> 

      </div><!-- /.row -->

    </div><!-- /.container -->

{% include "foot.html" with blog_post_extend_js=True %}
